<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .div-style {
      display: -webkit-inline-box;
    }
    .label-style {
      margin-top: 5px;
    }
    .input-style {
      width: 300px;
    }
</style>

</head>
<body>
<div class='modal fade' id='m_modal_1_2' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true'>
                  <div class='modal-dialog' role='document'>
                    <div class='modal-content'>
                      <div style={{display: 'block'}} class='modal-header'>
                        <h5 class='modal-title' id='editModalLabel'>
                        </h5>
                      </div>
                      <div class='modal-body'>
                        <div class='div-style'>
                          <label class='control-label label-style'>Value:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                          <input id='editModalInput' class='form-control input-style'/>
                        </div>
                      </div>
                      <div class='modal-footer'>
                        <button class='btn btn-primary' style={{float: 'right', marginTop: '10px'}}> Save
                        </button>
                      </div>
                      </div>
                    </div>
                  </div>
</body>
