
<div class="row row-style">
  <div class="col-md-4 col-margin-style">
      <div>
        <span class="font-style">Subscribed At:</span>
        <br />
        <span><%= subscriber.datetime %></span>
      </div>
  </div>
  <div class="col-md-4 col-margin-style">
      <div>
        <span class="font-style">Facebook Page:</span>
        <br />
        <span><%= subscriber.pageId.pageName %></span>
      </div>
  </div>
  <div class="col-md-4 col-margin-style">
    <div>
      <span class="font-style">Source:</span>
      <br />
      <span><%= subscriber.source %></span>
    </div>
  </div>
</div>
